.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}

#logo{
    padding-left: 13px;
    padding-right: 10px;
}

#logoNav {
    padding-right: 10px;
    line-height: 50px;
    font-size: medium;
    color: #3a8cc9;
}

/* Carousel Styles */
#logoCarrusel{
    width: auto;
}

.carousel-inner img {
    width: 100%;
    max-height: 350px;
}

#jumbotronColor{
    padding-top: 0px;
    background-color: white;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

